@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.MenCategory>
    @using ContentModels = Umbraco.Web.PublishedModels;
    @{
    Layout = "Master.cshtml";
    }
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title text-warning">@Model.Value("pageTitle")</h2>
                        <h3 class="post-subtitle">@Model.Value("bodyText")</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!">Start Bootstrap</a>
                        on September 24, 2022
                    </p>
                </div>
            </div>
        </div>
    </div>
